version: "3.5"
services:
  postgres-sonar:
    container_name: postgres-sonar
    image: postgres:latest
    #image: postgres:9.6
    networks:
      - cloudacademylabs
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonarpasswd
    ulimits:
      nproc: 65535
      nofile:
        soft: 32000
        hard: 40000
  sonarqube:
    container_name: sonarqube
    #image: sonarqube-ca:latest
    image: sonarqube:7.1
    ports:
      - "9000:9000"
      - "9092:9092"
    networks:
      - cloudacademylabs
    environment:
      SONARQUBE_JDBC_USERNAME: sonar
      SONARQUBE_JDBC_PASSWORD: sonarpasswd
      SONARQUBE_JDBC_URL: "jdbc:postgresql://postgres:5432/sonar"
    depends_on:
      - postgres-sonar

networks:
  cloudacademylabs:
    name: cloudacademylabs
